.message {
    background-color: #f9f9f9;
    border: 1px solid #e1e1e1;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
  }
  
  .message-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    font-size: 0.85em;
  }
  
  .message-username {
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .message-timestamp {
    color: #666;
    font-style: italic;
  }
  
  .message-body {
    white-space: pre-wrap; /* Ensures the text wraps and respects new lines */
    background-color: #fff; /* White background for the text box */
    border: 1px solid #ccc; /* Border for the text box */
    border-radius: 4px;
    padding: 8px; /* Padding inside the text box */
    overflow: hidden; /* Ensures the content doesn't overflow */
    word-break: break-word; /* Breaks the word to prevent horizontal scrolling */
    font-family: monospace;
  }
  